@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using net_il_mio_fotoalbum.Data
@model PhotoFormModel




<div class="container">
    <form asp-controller="Photo" asp-action="Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Photo.Title" class="d-block w-100" />
            <span asp-validation-for="Photo.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Photo.Description" class="d-block w-100" />
            <span asp-validation-for="Photo.Description" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <div class="form-field">

                <div>

                    <label asp-for="ImageFormFile" class="d-block">
                        <strong>Image file</strong></label>
                    <input type="file" asp-for="ImageFormFile" />
                </div>
            </div>
        </div>

        <div class="mb-3 d-flex align-center">
            <strong>Visibile:</strong>
            <input type="checkbox" asp-for="Photo.Visible" class="align-self-center mx-3" />
            <span asp-validation-for="Photo.Visible" class="text-danger"></span>
        </div>

        
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>